/********************************

            GLOBAL

********************************/

.text_bold,
.yekanBold {
  font-weight: bold;
}

.yekan {
  font-family: "yekan";
  font-weight: 200
}

.yekanBold {
  font-family: "yekan";
}

.homa {
  font-family: "homa";
}

.samim {
  font-family: "samim";
}

.laila {
  font-family: 'laila', sans-serif;
}

.samimBold {
  font-family: "samim_bold";
}

.text-jutify {
  text-align: justify;
}

.font-playfair {
  font-family: 'homa', sans-serif;
  font-weight: 300;
}

h1.heading-style-1,
h2.heading-style-1,
h3.heading-style-1,
h4.heading-style-1,
h5.heading-style-1,
h6.heading-style-1 {
  font-size: 35px;
  line-height: 46px;
  margin-bottom: 29px;
  font-weight: bold
}

h1.heading-style-2,
h2.heading-style-2,
h3.heading-style-2,
h4.heading-style-2,
h5.heading-style-2,
h6.heading-style-2 {
  font-size: 29px;
  line-height: 67.5px;
  margin-bottom: 20px;
  font-weight: bold
}

h1.heading-style-3,
h2.heading-style-3,
h3.heading-style-3,
h4.heading-style-3,
h5.heading-style-3,
h6.heading-style-3 {
  font-size: 23px;
  line-height: 52.5px;
  margin-bottom: 20px;
  font-weight: bold
}

h1.heading-style-4,
h2.heading-style-4,
h3.heading-style-4,
h4.heading-style-4,
h5.heading-style-4,
h6.heading-style-4 {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 12px;
  font-weight: bold
}

h1.heading-style-5,
h2.heading-style-5,
h3.heading-style-5,
h4.heading-style-5,
h5.heading-style-5,
h6.heading-style-5 {
  font: bold 16px;
  line-height: 30px;
  letter-spacing: 3px;
  margin-bottom: 11px;
  font-weight: bold
}

h1.heading-style-6,
h2.heading-style-6,
h3.heading-style-6,
h4.heading-style-6,
h5.heading-style-6,
h6.heading-style-6 {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 18px;
  text-transform: uppercase;
  font-weight: bold
}


/********************************

            HEADER

********************************/

.navbar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: .3s;
}

.is-sticky .navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar.bg-faded {
  background-color: #7d8488;
}

.navbar.navbar-light .nav-item a {
  color: #fff;
  transition: .35s;
}

.navbar.navbar-light .nav-item a:hover {
  color: #dcdcdc;
}

.menu-head {
  margin-bottom: 0;
  margin-top: 8px
}


/********************************

            MAIN

********************************/

main {
  z-index: 1000;
  margin-top: 40px;
}

.btn-primary {
  background: #ad495c;
}

.btn-rounded {
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  -ms-border-radius: 10em;
  -o-border-radius: 10em;
  border-radius: 10em;
}

.classic-blog-listing .post-data h6 {
  margin-top: 8px;
  float: left;
  font-weight: 400;
  color: #616161;
}

.classic-blog-listing .post-data {
  border-top: 1px solid #e0e0e0;
}

.classic-blog-listing .post-data ul {
  float: right;
}

.circle-icons i {
  text-align: center;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 3px;
  border: 1px solid #e0e0e0;
  color: #bdbdbd;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.fb-ic i.fa-facebook:hover {
  background-color: #4367ab !important;
  color: #fff;
}

.tw-ic i.fa-twitter:hover {
  background-color: #4dd7e6 !important;
  color: #fff;
}

.gplus-ic i.fa-google-plus:hover {
  background-color: #e64d4d !important;
  color: #fff;
}

.author-card .card-up {
  overflow: hidden;
  height: 180px;
}

.card .img-author {
  border-radius: 10em;
  border: solid 5px #fff;
}

.author-card .avatar {
  height: 170px;
  width: 170px;
  margin: -65px auto 0;
  overflow: hidden;
}

.mb-3-half {
  margin-bottom: 3.5rem;
}

.post-border {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1.4rem;
}

.text-hover {
    color: #424242;
    transition: 0.4s;
}

.text-hover:hover {
    color: #a7a5a5;
}

/********************************

            FOOTER

********************************/

footer {
  z-index: 1000;
}